{{#this}}
<ul class="list">
    <li class="imgsection"><img src="{{flags.svg}}" alt="flags" width="400" height="400" /><span class="countryName">{{name.official}}<span>
    </li>
    <li class="item">Capital <span class="itemS">{{capital}}<span></li>
    <li class="item">Population <span class="itemS">{{population}}<span></li>
    {{#each languages}}
    <li class="item">Languages <span class="itemS">{{this}}<span></li>
    {{/each}}
</ul>
{{/this}}